<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->
<ion-content>
  <div class="container">
    <div class="forms">
      <form [formGroup]="getDetails" (ngSubmit)="collectDetails()">
        <ion-item>
          <ion-label color="primary">UserName:</ion-label>
          <ion-input
            type="text"
            formControlName="name"
            placeholder="Maxlength 10"
            #names
          ></ion-input>
          <span *ngIf="name.invalid && name.touched" class="error">Name is invalid</span>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Email:</ion-label>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="email"
            #emails
          ></ion-input>
          <span *ngIf="email.invalid && email.touched" class="error">Email is invalid</span>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Password:</ion-label>
          <ion-input
            placeholder="password"
            formControlName="password"
            type="password"
            #pass
          ></ion-input>
          <span *ngIf="password.invalid && password.touched" class="error">Password is invalid</span>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Number:</ion-label>
          <ion-input
            type="text"
            placeholder="number"
            formControlName="number"
            #no
          ></ion-input>
          <span *ngIf="number.invalid && number.touched" class="error">Check again</span>
        </ion-item>

        <ion-input
          color="success"
          type="submit"
          class="sendbutton" 
          (click)="sendData(names.value,emails.value,pass.value,no.value)"
        >
          Send data
        </ion-input>
        <ion-button color="tertiary" (click)="getData()">Get data</ion-button>
      </form>
    </div>
    <div class="tables">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Contact</th>
        </tr>
        <tr>
          <td>{{newName}}</td>
          <td>{{newEmail}}</td>
          <td>{{newPass}}</td>
          <td>{{newNum}}</td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
